.wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: "GilroyBold", sans-serif;
  color: black;
}

.bg {
  object-fit: cover;
  z-index: -1;
}

.text {
  position: absolute;
  top: var(--service-text-top);
  right: var(--service-text-left);
  font-size: var(--service-title-size);
  line-height: 1.1;
  display: flex;
  flex-direction: column;
  text-align: right;
}
.link {
  display: block;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
  color: #000000; /* 默认黑色 */
  font-weight: bold;
  padding: 4px 0;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
}

.link:hover {
  color: #ac92bb; /* hover 时变为淡紫 */
  transform: translateX(4px); /* 向右滑动一点，增加动感 */
  text-shadow: 0 0 6px rgba(172, 146, 187, 0.4); /* 微弱发光 */
}

@media (max-width: 768px) {
  .text {
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    text-align: center;
    right: auto;
  }
}
