.section {
  min-height: 100vh;
  background: #493e5e;
  color: #fff;
  padding: 0 var(--service-text-left) 10%;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

/* 手图左上角定位 */
.hand {
  position: absolute;
  top: 5%;
  left: -8%;
  width: 45vw;
  height: 45vh;
  z-index: 12;
}

/* 右上角标题块 */
.heading {
  align-self: flex-end;
  margin-top: var(--service-text-top);
  text-align: right;

  position: relative;
}

.heading div {
  font-size: var(--service-title-size);
  font-weight: bold;
  line-height: 1.1;
}

.white {
  color: white;
  position: relative;
  /* line-height: 1; */
  display: inline-block;
}

.white::after {
  content: "";
  position: absolute;
  left: -100vw; /* 向左撑出整屏 */
  right: -100vw; /* 向右撑出整屏 */
  bottom: 0.9rem;
  height: 1px;
  background-color: #fff;

  pointer-events: none;
}

.purple {
  color: #b191be;
}

/* 中间内容区域 */
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  text-align: left;
  margin-top: var(--service-content-margintop);
}

.iconRow {
  display: flex;
  gap: 0.4rem; /* 控制两个图标之间的间距 */
  position: relative;
  z-index: 2;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  flex-shrink: 0;
}

.paragraph {
  font-family: "GilroyMedium", sans-serif;
  font-size: 1.8rem;
  line-height: 1.3;
  color: #fff;
}

@media (max-width: 768px) {
  .heading {
    margin-top: 40px;
    margin-right: var(--service-text-left);
  }

  .heading div {
    font-size: 1.8rem;
    text-align: right;
  }

  .paragraph {
    font-size: 1rem;
    line-height: 1.6;
  }

  .icon {
    width: 2.5rem;
    height: 2.5rem;
  }

  .hand {
    width: 50vw;
    height: 35vh;
  }
  .white::after {
    bottom: 0.3rem;
  }
  .content {
    margin-top: 140px;
  }
}
